<ng-template #loadingComponent>
  <app-loading></app-loading>
</ng-template>

<section class="resume" *ngIf="!loading; else loadingComponent">
  <div class="resume-section-content">
    <h2 class="mb-5">New</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5"
         *ngFor="let item of newsList">
      <div class="flex-grow-1">
        <h3 class="mb-0">{{item.title}}</h3>
        <div class="subheading mb-1">{{item.description}}</div>
        <div class="subheading mb-3"><small>{{item.author}}</small></div>
        <p class="me-3">{{item.content}}</p>
      </div>
      <div class="resume-colum-right">
        <span class="text-secondary ">{{item.date | customDatePipe : 'date'}}</span>
        <span class="text-secondary mb-5">{{item.date | customDatePipe : 'time'}}</span>
        <button class="buttonNew" (click)="archivedNews(item.id!)">Archived</button>
      </div>
    </div>
  </div>
</section>
